<header>
  <h1><span class="colored-text">Atmiya University Event Management System</span> </h1>
  <nav>
      <a href="{% url 'website'%}">Home</a>
      <div class="dropdown">
          <button class="dropbtn">Events▼</button>
          <div class="dropdown-content">
              <a href="{% url 'sport'%}">Sports</a>
              <a href="#">Culuturer Event</a>
              <a href="#">Fun-Fair</a>
          </div>
      </div>
      <a href="{% url 'aboutus'%}">About</a>
      <a href="{% url 'contact'%}">Contact</a>
      <a href="{% url 'question'%}">Event FAQs </a>
  </nav>
</header>

