{% load static %}

<div class="event">
  <div class="container">
      <img src="{% static "image/1.jfif" %}" alt="Career Fair">

      <div class="event">
          <h2 class="bg-dark">Upcoming Event: Sports</h2>
          <p class="date">Date: May 15, 2024</p>
          <p class="description">Get ready to play your favourite sports</p>
      </div>

      <div class="event">
          <h2>Upcoming Event: Cultural Fest 2024</h2>
          <p class="date">Date: April 10 - April 12, 2024</p>
          <p class="description">Get ready to experience a celebration of culture, talent, and creativity at
              Atmiya University's Cultural Fest 2024. Join us for three days filled with music, dance, art
              exhibitions, workshops, and much more!</p>
      </div>

      <div class="event">
          <h2>Upcoming Event: Career Fair</h2>
          <p class="date">Date: May 15, 2024</p>
          <p class="description">Don't miss the opportunity to network with leading companies and explore exciting
              career opportunities at Atmiya University's Career Fair. Bring your resume and be prepared to take
              the next step towards your future!</p>
      </div>

  </div>
</div>